extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/thirdparty/password-strength-meter/password.min.css')
  script(src='/javascripts/auth.js',defer)
  p FU
  table.table
    thead
      th Email 
      th First name
      th Last name
      th Active
      th Banned
    tbody
      each user, index in entries
        tr(user-id=user.userId,person-id=user.personId)
          td=user.email
          td=user.firstName
          td=user.lastName
          td
            .custom-control.custom-switch.active-switch
              input.custom-control-input(type="checkbox",id="active"+index,value=user.ban)
              label.custom-control-label(for="active"+index) active
          td
            .custom-control.custom-switch.ban-switch
              input.custom-control-input(type="checkbox",id="ban"+index,value=user.ban)
              label.custom-control-label(for="ban"+index) banned
    
