extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/thirdparty/password-strength-meter/password.min.css')
  table.table
    thead
      th Email 
      th First name
      th Last name
      th Active
      th Banned
      th Sessions
    tbody
      each user, index in entries
        tr(user-id=user.userId,person-id=user.personId)
          td=user.email
          td=user.firstName
          td=user.lastName
          td
            .custom-control.custom-switch.active-switch
              if user.active==true
                input.custom-control-input(type="checkbox",id="active"+index,checked)
              else
                input.custom-control-input(type="checkbox",id="active"+index)  
              label.custom-control-label(for="active"+index) active
          td
            .custom-control.custom-switch.ban-switch
              if user.banned==true
                input.custom-control-input(type="checkbox",id="ban"+index,checked)
              else
                input.custom-control-input(type="checkbox",id="ban"+index)
              label.custom-control-label(for="ban"+index) banned
          td
            button.get-sessions.btn.btn-sm.btn-secondary(type='button', data-toggle='collapse', data-target='#session-collapse'+index, aria-expanded='false', aria-controls='session-collapse'+index)
              span.glyphicon.glyphicon-list-alt 
              | &nbsp;Sessions
                      
          tr
            td(colspan=6).collapse(id="session-collapse"+index)
              .card.card-body


    
