extends layout

block content
  h1= title
  p Welcome to #{title}
  .card-block
    .container-fluid
      .row  
        .col-md-12
          .form-inline.searchDBform   
            label(for="searchBox") 
              h4 Query Database:
            select.custom-select(id="searchOptions",style="margin-left:10px")
              option(call="sequence") Sequence
              option(call="") Species
              option(call="name") miRNA name
              option(call="") Accession
              option(call="") Source
            input.form-control(id="searchText",placeholder="Search",type="text",style="margin-left:10px") 
            button.form-control.btn.btn-primary.DBsearch(role="button") Search DB
        
        .col-md-12
          //Annotation Table            
          table.table.table-bordered.tablesorter.resizableTable.DBvalues(hasResizable)
            thead
              tr.tableHeader
                th(title="Hint") Accession
                th(title="Hint") Name
                th(title="Hint") Arm
                th(title="Hint") Sequence
              tbody
                tr.sampleSource(hidden)
                  td(scope="row",dbAttr="accession",title="mature miRNA accession")
                  td(dbAttr="name",title="mature miRNA name")
                  td(dbAttr="arm",title="mature miRNA arm")
                  td(dbAttr="sequence",title="mature miRNA sequence")
                each row in tableValues 
                  tr.tableRow.DBvalues
                    td(scope="row",title="mature miRNA accession")=row.Mature_miRNA_accession
                    td(title="mature miRNA name")=row.Mature_miRNA_name
                    td(title="mature miRNA arm")=row.Mature_miRNA_arm
                    td(title="mature miRNA sequence")=row.Mature_miRNA_sequence
