extends layout

block content

  a(href="https://github.com/forestbiotech-lab/miRPursuit")
     img(style="position:absolute;top:10px;left:10px;border:0;",src="https://camo.githubusercontent.com/c6625ac1f3ee0a12250227cf83ce904423abf351/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67",alt="Fork me on GitHub",data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png")   

  h1.title miRPursuit
  br
  br 
  p #{text.summary}
  p Your data will remain confidential until you authorize it  
  p

  .card
    .card-header
      .container-fluid
        .row.justify-content-center
          h2 Upload Data
    .card-block
      .container-fluid
        .row  
          .col-md-10
            label.sr-only(for="upload-files") Upload file
            input(hidden,type="file",id="upload-files",placeholder="Fastq/Fasta",required="",autofocus="",autocomplete="off",name="uploads[]", multiple="multiple")
            .progress(style="position:relative;bottom:-12px;")
              .progress-bar(role="progressbar",aria-valuenow="0",aria-valuemin="0",aria-valuemax="100")
          .col-md-2
            .button.btn.btn-primary.upload-btn(type="button") Upload files
  p          
  .card
    .card-header
      .container-fluid
        .row.justify-content-center
          h2 #{text.annotationTableHeader}
    .card-block
      .container-fluid
        .row.justify-content.center  
          h6 #{text.annotationTableIntro}
      .container-fluid.alert.alert-info
        .row.justify-content-center
          h2 Filter
        .row.justify-content-center
          .btn-group(role="group",aria-label="Basic example")
            button.btn.btn-secondary(type="button") Investigation
            button.btn.btn-secondary(type="button") Study
            button.btn.btn-secondary(type="button") Assay
        .row.justify-content-center    
          .btn-group(role="group",aria-label="Basic example")
            button.btn.btn-secondary(type="button") General MetaData
            button.btn.btn-secondary(type="button") Timming and Location of study
            button.btn.btn-secondary(type="button") Biosource

      .btn-group(role="group",aria-label="Table functions")      
        a.btn.btn-primary(data-toggle="collapse",href="#advancedOptions",aria-expanded="false",aria-controls="advancedOptions") Advanced options
        button.btn.btn-secondary(type="button") Add Column
      .collapse(id="advancedOptions")
        .card.card-block
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. This will have buttons to exapand view and add extra functions to the table. Still a work in progress
          btn-group(role="group",aria-label="Basic example")
                button.btn.btn-secondary.advancedButton1(type="button") Advanced 1
                button.btn.btn-secondary.advancedButton2(type="button") Advanced 2
                button.btn.btn-secondary(type="button") Advanced 3






      //Annotation Table            
      table.table.table-bordered.tablesorter.resizableTable.annotationTable(hasResizable)
        thead
          tr
            th File Name 
            th 
              input.ontoSelect(type="input",id="ontology1",placeholder="Ontology",required="",autofocus="",autocomplete="off",name="ontology1")
            th
              input.ontoSelect(type="input",id="ontology2",placeholder="Ontology",required="",autofocus="",autocomplete="off",name="ontology2")
          tbody
            tr.sample(hidden)
              th.col0(scope="row")  
              td.col1
                .btn.btn-secondary.col0.searchTerm(modalButton,type="button",data-toggle="modal",data-target="#termSearchModal") Search term
                include includes/advancedButtons1.pug 
              td.col2
                .btn.btn-secondary.col1.searchTerm(modalButton,type="button",data-toggle="modal",data-target="#termSearchModal") Search term
                include includes/advancedButtons1.pug 
            tr.miappe
              th(scope="row",title="Terms from Miappe 2.0 standards. MIAPPE 1.0 see miappe.org") Miappe terms
              td Miappe term #1
              td MIAPPE term #2  
            tr.typeOfTerms
              th(scope="row") Type
              td(title="Quantitative has units. \n Qualitative only descriptive")  
                select.form-control
                  option(value="0") Qualitative
                  option(value="1") Quantitative
              td
                select.form-control
                  option(value="0") Qualitative    
                  option(value="1") Quantitative
            tr
              th(scope="row") (Ex:) Lib01.fasta 
              td 
                .btn.btn-secondary.row0.col0.searchTerm(modalButton,type="button",data-toggle="modal",data-target="#termSearchModal") Search term
                include includes/advancedButtons1.pug
              td
                .btn.btn-secondary.row0.col1.searchTerm(modalButton,type="button",data-toggle="modal",data-target="#termSearchModal") Search term
                include includes/advancedButtons1.pug

            tr.noFiles.table-warning
              //   Must be set automatically to total table span //
              th.align-middle.warning(colspan="3")
                .container-fluid
                  .row.justify-content-center
                    .col-8 
                      h3 No files have been uploaded yet.


      .btn.btn-secondary(type="button")
        span.isatab.glyphicon(style="background-image: url('/images/isatools_logo.svg'); background-repeat: no-repeat; background-attachment: scroll; background-size: 75px 85px; background-position: 0% 48%;width:20px;height:15px;")
        span.text Download in Isa-Tab 


  .miRPursuitPanel(style="border:#615d5d")
    .card
      .card-block(style="background-color: #3d348b;padding-left:0px;padding-right:0px")
        .container-fluid
          .row.justify-content.left(style="border-bottom: 1px solid rgb(40, 34, 88);margin-bottom:10px;") 
            h4.card-title miRPursuit
            button.close
              span(aria-hidden="true",style="position:absolute;top:-15px;right:10px;") &times;
          .row.justify-content.left
            .col-2(style="padding:0px;")  
              span State:
            .col-10.progressWrapper(style="padding-right:0px;") 
              .progress(style="position:relative;bottom:-5px;width:100%;")
                .progress-bar(role="progressbar",aria-valuenow="0",aria-valuemin="0",aria-valuemax="100")
          .row.currentState    
            span State:
            span Filtering
          .row.runID
            span Run:  
            span ID292929
          .row          
            span s
            span
          .row.justify-content-center  
            a.button.btn.btn-primary(type="button",data-toggle="collapse",href="#miRPursuitOptions",aria-expanded="false",aria-controls="miRPursuitOptions") Details
            .collapse(id="miRPursuitOptions")
              .card.card-block
                | Shit stays here.... yeah Some buttons here.....

  /// MODAL FOR TERM SEARCH      
  .modal.fade(id="termSearchModal",aria-labelledby="termSearchModalTitle")
    .modal-dialog.modal-lg(role="document")
      .modal-content
        .modal-header
          h5.modal-title(id="termSearchModalTitle") #{text.termSearchTitle}
          //a(aria-label="More info") //Looks horrible Tackle this later
            span.glyphicon.glyphicon-question-sign(aria-hidden="true")
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          Modal
            p #{text.termSearchSummary}
            .form-inline.termSearch
              label.mr-sm-2(for='inlineTextTerm') Ontological term:   
                input(type="text",name="term",id="inlineTextTerm")
              .btn.btn-primary.search(type="button") Search
            div(hidden,id="accordion",role="tablist",aria-multiselectable="true")
              .card
                .card-header(role="tab",id="headingOne")
                  h5.mb-0
                    a(data-toggle="collapse",data-parent="#accordion",href="#collapseOne",aria-expanded="false",aria-controls="collapseOne")
                      | Bioportal terms
                .collapse(id="collapseOne",role="tabpanel",aria-labelledby="headingOne")
                  .card-block
                    //Bioportal  
                    table.table.table-bordered.tablesorter.termTable.resizableTable.table-hover.bioportal(hasResizable,hidden)
                      thead
                        tr
                          th Term
                          th Ontology
                          th Definition
                        tbody
                          tr.sample(hidden)
                            th.term(scope="row")
                              a(target="_blank")
                                span.glyphicon.glyphicon-globe(aria-hidden="true",style="margin-right:5px",title="See in bioportal")
                              span.text
                            td.ontology 
                            td.definition
                    //End Bioportal Table         
              .card
                .card-header(role="tab",id="headingTwo")
                  h5.mb-0
                    a(data-toggle="collapse",data-parent="#accordion",href="#collapseTwo",aria-expanded="true",aria-controls="collapseTwo")
                      | Agroportal Terms
                .collapse.show(id="collapseTwo",role="tabpanel",aria-labelledby="headingTwo")
                  .card-block
                    //Agroportal
                    table.table.table-bordered.tablesorter.termTable.resizableTable.table-hover.agroportal(hasResizable,hidden)
                      thead
                        tr
                          th Term
                          th Ontology
                          th Definition
                        tbody
                          tr.sample(hidden)
                            th.term(scope="row")
                              a(target="_blank")
                                span.glyphicon.glyphicon-globe(aria-hidden="true",style="margin-right:5px",title="See in bioportal")
                              span.text
                            td.ontology 
                            td.definition 
                    //End Agroportal table                                               
        //.modal-footer
          //button.btn.btn-primary(type="button") Save changes
          //button.btn.btn-secondary(type="button",data-dismiss="modal") Close


