form.basic-form.table-form(id=name,method="POST",action="/form/save/singletable/"+name)
  input.form-control(type="hidden",id="tablename",name="tablename",value=name)
  each attribute in table
    .form-group
      label(for=attribute.name)=attribute.name  
      input.form-control(type=attribute.type,id=attribute.name,name=attribute.name)
  input.btn.btn-primary(type="submit",value="Save")
  