extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/assays.css')
  script(id="database",src="/javascripts/de.js",defer)
  .card-block
    .container-fluid
      .row.d-none  
        .col-lg-12
          .card
            .card-header.studyInfo(studyId=study_id)
              h4.study.card-title Study&nbsp
                span.badge.badge-secondary#studyTitle
            .card-body
              button.btn.btn-primary.generate-table-form(table="Study",type='button', data-toggle='collapse', data-target='#table-study', aria-expanded='false', aria-controls='table-study')
                | Create Study
              #table-study.collapse
                .card.card-body
                  .form-Study
              button.btn.btn-primary.generate-table-form(table="Person",type='button', data-toggle='collapse', data-target='#table-Person', aria-expanded='false', aria-controls='table-Person')
                | Create Person              
              #table-Person.collapse
                .card.card-body
                  .form-Person
              button.btn.btn-primary.generate-table-form.generate-select-form(table="Study",type='button', data-toggle='collapse', data-target='#select-Study', aria-expanded='false', aria-controls='select-Study')
                | Get studies              
              #select-Study.collapse
                .card.card-body
                  .select-Study
                  .form-Study
    .row.navagation-buttons
      .col-lg-12
        .card
          .card-body
            ul.nav.justify-content-center
              li.nav-item
                a.btn.btn-light.nav-link(href='/de') Main
              li.nav-item
                a.btn.btn-light.nav-link(href=`/de/assaydata/${study_id}`) AssayData Matrix
              li.nav-item
                a.btn.btn-light.nav-link(href='/de/targets/new') Add Targets
                    
    .row.study-design
      .col-lg-12
        .card.study-design
          .card-header
            h5.card-title Study Design
          .card-body.design-factory 
            button.btn.btn-secondary.add-factor Add factor
            table.table.design-factory
              thead
                tr
                  th Actions
                  th Factor name
                  th Modality
              tbody
            button.btn.btn-secondary.generate-contrasts Generate Contrasts
          .card.differential-expression.d-none
            .card-header
              h5.card-title Differential Expression
            .card-body
              .container-fluid
                .de-status.rounded(style="background-color:#FFd97D")
                  .row
                    .col-2
                      span.badge.badge-dark
                        h2 Status:
                    .col-1
                      .spinner-border.text-primary(role='status',style="padding:20px;color: #FF9B85;")
                        span.sr-only(text='loading...')
                    .col
                      span.badge.badge-warning
                        h2.status-text Finished building image!
                .de
                  .row.includes-graph.preliminary
                    .col-md-6.fullscreen-able(style="border:1px solid black")
                      .file-container.de-pca(filename="PCA_Log_Color-factor_shape-modalites.svg")
                        p.bg-light(style="position:relative;top:0px;left:0px;padding:7px;") PCA 
                    .col-md-6.fullscreen-able(style="border:1px solid black")
                      .file-container.de-mds(filename="plotMDS.png")
                        p.bg-light(style="position:relative;top:0px,left:0px;padding:7px;") MDS  
                  .row.includes-graph.preliminary
                    .col-md-6.fullscreen-able(style="border:1px solid black")
                      .de-bcv.file-container(filename="plotBCV.png")
                        p.bg-light(style="position:relative;top:0px;left:0px;padding:7px;") Biological Coefficient of variation (BCV)
                    .col-md-6.fullscreen-able(style="border:1px solid black")
                      .de-qld.file-container(filename="plotQLDisp.png")
                        p.bg-light(style="position:relative;top:0px,left:0px;padding:7px;") Quasi-likelihood (QL) dispersion  
                .row.summary-title
                  .media.col-md-12.bg-light.rounded
                    .align-self-center.mr-3
                      span.glyphicon.glyphicon-equalizer
                    .media-body
                      h3.mt-0 Summary Contrast - 
                .row.includes-graph
                  .col-md-6
                    table.table.summary-de
                      thead
                        tr
                          th state
                          th number
                      tbody
                        tr.down
                          th Down
                          td.value xxxxxx
                        tr.notsig
                          th Not Significant
                          td.value xxxxxx
                        tr.up
                          th Up
                          td.value xxxxxx
                  .col-md-6.fullscreen-able(style="border:1px solid black")
                    .de-plotMD.file-container(filename="plotMD.png")
                      p.bg-light(style="position:relative;top:0px,left:0px;padding:7px;") Dispersion
                .row.top-de-title
                  .media.col-md-12.bg-success.rounded
                    .align-self-center.mr-3
                      span.glyphicon.glyphicon-tasks   
                    .media-body
                      h4.mt-0 Top DE
                .row                  
                  .col-md-12
                    table.table.top-tags
                      thead
                        th Sequence
                        th logFC
                        th logCPM
                        th F
                        th PValue
                        th FDR
                      tbody
                .row.includes-graph
                  .col-md-6.fullscreen-able(style="border:1px solid black")
                    .file-container.de-heatmap(filename="Heatmap-log.svg")
                      p.bg-light(style="position:relative;top:0px;left:0px;padding:7px;") Heatmap Conserved
    .row
      .col-lg-12    
        .card.assay-list
          .card-header
            h4.assay.card-title Assay list
               span.badge.badge-secondary#assay-data-count
               span.badge.badge-secondary#mature-miRNA
               button.btn.btn-secondary.calculate-cpms(style="float:right",type='button', data-toggle='tooltip', data-placement='bottom', title='CPM will only be calculated for libraries that have output values!') Calculate CPMs 
               button.btn.btn-info(style="float:right",type='button', data-toggle='tooltip', data-placement='left', title='Double click cells to edit their values')
                span.glyphicon.glyphicon-info-sign
          .card-body(style="overflow-x:scroll;")
            table.table.assays
              thead
                tr
                  if ( data )
                    each header in Object.keys(data[0])
                      th(colname=header)=header
              tbody
                each row in data
                  tr(id=row['id'])
                    each key in Object.keys(row)
                      td(colname=key)=row[key]
  div(aria-live='polite', aria-atomic='true', style='position: relative; min-height: 200px;')
    .toaster(style='position: fixed; top: 0; right: 0;')
