extends ../layout

block content
  script(id="database",src="/javascripts/de.js",defer)
  .card-block
    .container-fluid
      .row.d-none  
        .col-lg-12
          .card
            .card-header.studyInfo(studyId=study_id)
              h4.study.card-title Study&nbsp
                span.badge.badge-secondary#studyTitle
            .card-body
              button.btn.btn-primary.generate-table-form(table="Study",type='button', data-toggle='collapse', data-target='#table-study', aria-expanded='false', aria-controls='table-study')
                | Create Study
              #table-study.collapse
                .card.card-body
                  .form-Study
              button.btn.btn-primary.generate-table-form(table="Person",type='button', data-toggle='collapse', data-target='#table-Person', aria-expanded='false', aria-controls='table-Person')
                | Create Person              
              #table-Person.collapse
                .card.card-body
                  .form-Person
              button.btn.btn-primary.generate-table-form.generate-select-form(table="Study",type='button', data-toggle='collapse', data-target='#select-Study', aria-expanded='false', aria-controls='select-Study')
                | Get studies              
              #select-Study.collapse
                .card.card-body
                  .select-Study
                  .form-Study
    .row.navagation-buttons
      .col-lg-12
        .card
          .card-body
            ul.nav.justify-content-center
              li.nav-item
                a.btn.btn-light.nav-link(href='/de') Main
              li.nav-item
                a.btn.btn-light.nav-link(href=`/de/assaydata/${study_id}`) AssayData Matrix
              li.nav-item
                a.btn.btn-light.nav-link(href='/de/targets/new') Add Targets
                    
    .row.study-design
      .col-lg-12
        .card.study-design
          .card-header
            h5.card-title Study Design
          .card-body.design-factory 
            button.btn.btn-secondary.add-factor Add factor
            table.table.design-factory
              thead
                tr
                  th Actions
                  th Factor name
                  th Modality
              tbody
            button.btn.btn-secondary.generate-contrasts Generate Contrasts
            
            

    .row
      .col-lg-12    
        .card.assay-list
          .card-header
            h4.assay.card-title Assay list
               span.badge.badge-secondary#assay-data-count
               span.badge.badge-secondary#mature-miRNA
               button.btn.btn-secondary.calculate-cpms(style="float:right",type='button', data-toggle='tooltip', data-placement='bottom', title='CPM will only be calculated for libraries that have output values!') Calculate CPMs 
               button.btn.btn-info(style="float:right",type='button', data-toggle='tooltip', data-placement='left', title='Double click cell to edit the values of the cells')
                span.glyphicon.glyphicon-info-sign
          .card-body(style="overflow-x:scroll;")
            table.table.assays
              thead
                tr
                  if ( data )
                    each header in Object.keys(data[0])
                      th(colname=header)=header
              tbody
                each row in data
                  tr(id=row['id'])
                    each key in Object.keys(row)
                      td(colname=key)=row[key]
  div(aria-live='polite', aria-atomic='true', style='position: relative; min-height: 200px;')
    .toaster(style='position: fixed; top: 0; right: 0;')