extends ../layout

block content
  - name=`${personInfo.firstName} ${personInfo.lastName}`//"Dr. Unpleasant Guest"
  .card-block#app
    .container-fluid
      .row.welcome-panel
        .col-lg-12
          .card
            .card-body
              h4.card-title.personal-info Welcome to your personal area 
                span.badge.badge-success.person-name(person-id=personInfo.id) !{name}
            .card-body 
              p You are currently responsible for 
                span.badge.badge-success(title="click to show studies") !{numOfStudies} studies 
                | , please select a study to edit or complete.   
              button.btn.btn-secondary.btn-lg.btn-block.generate-table-form(table="Study",type='button', data-toggle='collapse', data-target='#table-study', aria-expanded='false', aria-controls='table-study')
                | Create New Study
              #table-study.collapse
                .card.card-body
                  .form-Study
                    create-study-form
              #accordionStudies.accordion
                .card
                  #studies.card-header
                    h2.mb-0.text-center
                      button.btn.btn.secondary.btn-block.generate-table-list(type='button',table="Study", data-toggle='collapse', data-target='#studiesList', aria-expanded='true', aria-controls='studiesList')
                        | View study list
                  #studiesList.collapse(aria-labelledby='studiesList', data-parent='#accordionStudies')
                    .card-body.list-Study
                      generate-study-list(:rows="rows",:pk="pk",:is-row-selected="isRowSelected" v-on:select-row="selectRow",:selected-row="selectedRow",:selected-p-k="selectedPK")
                    .card-body.info-on-selection
                      actions-for-selected-study(v-if="isRowSelected==true" v-on:edit-study="editStudy=true" v-on:upload-data="uploadData=true" :selected-p-k="selectedPK",:num-of-assays="rows[selectedRow].Assays.length")
      .row.file-submission(v-if="uploadData==true")
        file-submission(:study-id="rows[selectedRow].id" :study-title="rows[selectedRow].title")
      .row.metadata-edition(v-if="editStudy==true")
        .col-lg-12
          .card
            .card-body
              h4.study.card-title Edit Study Metadata for:
                span.badge.badge-secondary {{ rows[selectedRow].title }}
                button.close(type='button', aria-label='Close')
                  span(aria-hidden='true',onclick="$('.row.metadata-edition').addClass('d-none')") &times;
                .card
                  .form-Study.card-body
                    edit-metadata(:rows="rows",:selected-row="selectedRow",:edit-study="editStudy" v-on:updated="editStudy=false")
