extends layout

block content
  script(id="database",src="/javascripts/de.js",defer)
    - name=`${personInfo.firstName} ${personInfo.lastName}`//"Dr. Unpleasant Guest"
  .card-block
    .container-fluid
      .row.welcome-panel
        .col-lg-12
          .card
            .card-body
              h4.card-title.personal-info Welcome to your personal area 
                span.badge.badge-success.person-name(person-id=personInfo.id) !{name}
            .card-body 
              p You are currently responsible for 
                span.badge.badge-success(title="click to show studies") !{numOfStudies} studies 
                | , please select a study to edit or complete.   
              button.btn.btn-secondary.btn-lg.btn-block.generate-table-form(table="Study",type='button', data-toggle='collapse', data-target='#table-study', aria-expanded='false', aria-controls='table-study')
                | Create New Study
              #table-study.collapse
                .card.card-body
                  .form-Study
              #accordionStudies.accordion
                .card
                  #studies.card-header
                    h2.mb-0.text-center
                      button.btn.btn.secondary.btn-block.generate-table-list(type='button',table="Study", data-toggle='collapse', data-target='#studiesList', aria-expanded='true', aria-controls='studiesList')
                        | View study list
                  #studiesList.collapse(aria-labelledby='studiesList', data-parent='#accordionStudies')
                    .card-body.list-Study
                    .card-body.info-on-selection
      .row.file-submission.d-none
        .col-lg-12
          .card.upload 
            .card-body
              h5.card-title Matrix with raw reads counts for:
                span.badge.badge-secondary#studyTitle
              p The uploaded file should be a tab separated value&nbsp;
                span.badge.badge-secondary .tsv
                | &nbsp;file. The file should start with the header as the first line, then consecutively a line for each sequence. The first column should contain the sequence, the second its annotation, and the following columns should contain the raw expression in each of the libraries. An assay will be created for each library once the upload process is concluded.  
              .row
                .form-group
                  label.sr-only(for="upload-files-upload") Upload file
                  input(hidden,type="file",id="upload-files-upload",placeholder="tsv file",required="",autofocus="",autocomplete="off",name="uploads[]", accept="mime/*,.tsv")
                .col-lg-10
                  .progress(style="position:relative;bottom:-12px;")
                    .progress-bar(role="progressbar",aria-valuenow="0",aria-valuemin="0",aria-valuemax="100")
                .col-lg-2
                  button.btn.btn-primary.upload-matrix(type="button") Upload matrix  
            .card-footer
              .row
                .form-group.col-lg-12
                  label(for="file") Uploaded file: 
                  input.col-lg-10.col-md-8.col-sm-4(type="text",id="file",placeholder="no file",required="",name="file",readonly)
              .row
                .col-lg-12
                  form.view-matrix(action="/de/uploaded-file",method="POST")
                    input(type="hidden",name="hash",id="hash")
                    input(type="hidden",name="filename",id="filename")
                    input(type="hidden",name="studyId",id="studyId")
                    input(type="hidden",name="studyTitle",id="studyTitle")
                    input.btn.btn-primary.disabled.btn-block.d-none(type="",role="button",value="View matrix",title="Set the study first to view matrix")
      .row.metadata-edition.d-none
        .col-lg-12
          .card
            .card-body
              h4.study.card-title Edit Study Metadata for:
                span.badge.badge-secondary#studyTitle
                button.close(type='button', aria-label='Close')
                  span(aria-hidden='true',onclick="$('.row.metadata-edition').addClass('d-none')") &times;  
                .card
                  .form-Study.card-body
