extends ../layout

block content
  script(id="database",src="/javascripts/de.js",defer)
  .container-fluid
    .row.alerts
    .row.associationRow
      .col-lg-6
        .card 
          .card-body.target_filename
            label(for='filename') Target file: &nbsp
            input.form-control(type="text",disabled,value=target_filename)
          .card-body
            .form-check.form-check-inline
              label.form-check-label(for='profile') Profile: &nbsp
                select.form-control-lg#profile.profile
                  option select
                  each profile in profiles
                    option=profile
            .form-check.form-check-inline
              button.btn.btn-light(title="add new profile",data-toggle="modal",data-target="#new-profile") !{octicons.plus.toSVG()}
        .card.fileSelections
          .card-header 
            h3 File name
            p For each file column choose the appropriate destination or load one of the profiles.
            li The accession Table gives the instructions to identify the miRNA sequence and the target. 
          .card-body
            each header,idx in fileHeaders 
              li(id=idx) !{header} 
                span.selects
                  select#associate
                    option Table
                    each table in tables
                      option=table
                span.special-tools
          .card-footer
            button.btn.btn-primary.save save
          .card-footer.test
            button.btn.btn-primary.test test button!
          .card-body.result(style="overflow-x:scroll;")
      .col-lg-6
        each table in tables  
          .card.table-selections(table=table)
            .card-header 
              h3=table
            .card-body
              each attr in tableData[table]
                li(id=attr.name) !{octicons[icon[attr.type]].toSVG()} !{attr.name}&nbsp;
                  span.index.badge.badge-secondary
                  span.name.badge.badge-success  
      .table-attributes.d-none
        each table in tables
          select#table-attributes(table=table)
            option attributes
            each attr in tableData[table]
              option=attr.name
      .alert.template.d-none.alert-dismissible.fade.show(role='alert')
        | Save association, 
        strong 
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') ×
      span.d-none.octicon.octicon-tools &nbsp!{octicons.tools.toSVG()}
  .modal#new-profile(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Add New Profile
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          input.form-control(type="text",placeholder="new profile name")
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button.save-changes.btn.btn-primary(type='button') Save changes