extends ../layout

block content
  script(id="database",src="/javascripts/de.js",defer)
  .container-fluid
    .row.alerts
    .row.navagation-buttons
      .col-lg-12
        .card
          .card-body
            ul.nav.justify-content-center
              li.nav-item
                a.btn.btn-light.nav-link(href='/de') Main
              li.nav-item
                a.btn.btn-light.nav-link(href=`/de/assaydata/${study_id}`) AssayData Matrix
              li.nav-item
                a.btn.btn-light.nav-link(href='/de/targets/new') Add Targets
  .add-xref
    .d-flex.flex-row.justify-content-center.pl-4.pt-4
      .flex-fill
        h2 Add a xref to transcripts
    .d-flex.flex-row.justify-content-center.pr-4.pl-4
      .flex-fill
        input.form-control.xref-input(type="text",placeholder="xref for transcript")
        span.badge.badge-success.xref-preview http://
        p This will be used for all the inserted transcripts. 
      .pr-4
        a.btn.btn-success.xref-preview(role="button",target="_blank") test link  
  .d-flex.flex-row.justify-content-center.save-targets
    .p-4.flex-fill
      .progress
        .progress-bar(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
    .pr-4.pt-3
        button.btn.btn-success.save-targets Save targets
  .add-missing-attributes
    .d-flex.flex-row.justify-content-center.p-4
      .flex-fill
        h2 Add missing attributes
    .d-flex.flex-row.justify-content-center.p-4
      .flex-fill
        select.form-control#associate
          option Table
          each table in tables
            option=table
        button.upload upload

  .container-fluid        
    .row.associationRow
      .col-lg-6
        .card 
          .card-body.target_filename
            label(for='filename') Target file: &nbsp
            input.form-control(type="text",disabled,value=target_filename)
          .card-body
            .form-check.form-check-inline
              label.form-check-label(for='profile') Profile: &nbsp
                select.form-control-lg#profile.profile
                  option select
                  each profile in profiles
                    option=profile
            .form-check.form-check-inline
              button.btn.btn-light(title="add new profile",data-toggle="modal",data-target="#new-profile") !{octicons.plus.toSVG()}
        .card.fileSelections
          .card-header 
            h3 File name
            p For each file column choose the appropriate destination or load one of the profiles.
            li The accession Table gives the instructions to identify the miRNA sequence and the target. 
          .card-body
            each header,idx in fileHeaders 
              li(id=idx) !{header} 
                span.selects
                  select#associate
                    option Table
                    each table in tables
                      option=table
                span.special-tools
          .card-footer
            button.btn.btn-primary.save save
          .card-footer.test
            button.btn.btn-primary.test Save Targets!
          .card-body.result(style="overflow-x:scroll;")
      .col-lg-6
        each table in tables  
          .card.table-selections(table=table)
            .card-header 
              h3=table
            .card-body
              each attr in tableData[table]
                li(id=attr.name) !{octicons[icon[attr.type]].toSVG()} !{attr.name}&nbsp;
                  span.index.badge.badge-secondary
                  span.name.badge.badge-success  
      .table-attributes.d-none
        each table in tables
          select#table-attributes(table=table)
            option attributes
            each attr in tableData[table]
              option=attr.name
      .alert.template.d-none.alert-dismissible.fade.show(role='alert')
        | Save association, 
        strong 
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') ×
      span.d-none.octicon.octicon-tools &nbsp!{octicons.tools.toSVG()}
  .modal#new-profile(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Add New Profile
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          input.form-control(type="text",placeholder="new profile name")
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button.save-changes.btn.btn-primary(type='button') Save changes
          