extends ../layout

block content
  script(id="database",src="/javascripts/de.js",defer)
  .card-block
    .container-fluid
      .row
        .col-lg-12
          .card.gen-info
            .card-header.study
              h4.card-title 
                span.badge.badge-secondary(title="Study id") ID:
                span.badge.badge-secondary#studyId(title="Study id") !{studyId} 
                span.badge.badge-success#studyTitle(title="Study Title") !{studyTitle} 
              h5.card-title File Screening
              .card-body.quality-screening
                p This process identifies abnormalities in the uploaded file and previews the first lines of your file.
                  ul.InvalidStructure 
                    span.glyphicon.glyphicon-remove(style="color:red;")
                    | &nbsp;File structure of&nbsp; 
                    span.badge.badge-secondary .tsv
                    | &nbsp;file
                    .alert.err-msg.alert-danger.d-none
                  ul.DuplicateRows
                    span.glyphicon.glyphicon-remove(style="color:red;")
                    | &nbsp;Duplicate rows
                    .alert.err-msg.alert-danger.d-none
                  ul.DuplicateSequences
                    span.glyphicon.glyphicon-remove(style="color:red;")
                    | &nbsp;Duplicate sequences
                    .alert.err-msg.alert-danger.d-none
                a.go-back.btn.btn-danger.btn-block.d-none(role="button",href="/de") Go back to previous page
          .card.conflicts.d-none
            .card-header.conflicts
              h4.card-title Conflicts&nbsp
                span.badge.badge-secondary#ofConflicts 0
            .card-body.conflicts-general-warning      
              .alert.alert-warning 
                .badge.badge-secondary
                  span.glyphicon.glyphicon-warning-sign(style="color:#fff3cd;")
                | &nbsp; Please resolve the following conflicts before saving data
            .card-header.duplicate-rows
              h3.card-title Duplicate Rows&nbsp;
                span.badge.badge-secondary#ofDuplicateRows 0
              button.btn.btn-primary.remove-duplicate-rows
                span.glyphicon.glyphicon-repeat
                | &nbsp;remove all duplicate rows
              a.btn.btn-warning.go-back(href="/de")
                span.glyphicon.glyphicon-backward
                | &nbsp; resubmit file
            .card-body.duplicate-rows(style="overflow-x:scroll;")  
              table.table.table-hover.duplicate-rows
                thead
                tbody
            .card-header.duplicate-sequences
              h3.card-title Duplicate Sequences&nbsp;
                span.badge.badge-secondary#ofDuplicateSequences 0
            .card-body.duplicate-sequences(style="overflow-x:scroll;")                  
              table.table.table-hover.duplicate-sequences
                thead
                tbody
          .card.upload-table.d-none
            .card-header
              h4.card-title(title="This is the number of unique rows. Will decrease if merges occur due to duplicate sequences") 
                | Save Raw Expression Data &nbsp
              p File has&nbsp;
                span.badge.badge-secondary#ofUploadSequences 0  
                | &nbsp;lines of expression data.
            .card-body  
              .card(style="margin:0px")
                .row(style="height:62px;")
                  .col-lg-9
                    .progress(style="position:relative;bottom:-12px;margin:10px")
                      .progress-bar(role="progressbar",aria-valuenow="0",aria-valuemin="0",aria-valuemax="100")
                  .col-lg-3
                    button.btn.btn-primary.upload-matrix(style="float:right; height:62px;") save to database
              .row.card(style="margin:0px")
                ul.list-group.list-group-horizontal-lg
                  li.list-group-item.list-group-item-secondary.flex-fill
                    h5 Realtime Upload Statistics
                  li.list-group-item.flex-fill
                    p.card-title Successful:&nbsp; 
                      span.badge.badge-secondary#uploadSuccesses 0
                      | &nbsp;sequences
                    p.card-title Errors on:&nbsp;  
                      span.badge.badge-secondary#uploadErrors 0
                      | &nbsp;sequences
              .row
                .col-lg-12
                  a.btn.btn-primary.btn-block(type="button",href=`/de/assays/${studyId}`) View Assays
            .card-body.upload-table(style="overflow-x:scroll;").d-none  
              table.table.table-striped.upload-table
                thead
                tbody                
                  tr#lastRow(filename=uploadedFilename) 
                    td.blockquote.text-center(colspan=1) Loading missing sequences, please wait ...
          .card.upload-table.d-none
            .card-header
              .row
                .col-lg-4
                  h4.card-title(title="This is the number of unique rows. Will decrease if merges occur due to duplicate sequences") Expression Matrix&nbsp
                    span.badge.badge-secondary#ofUploadSequences 0
                    | &nbsp;sequences
                .col-lg-5
                  .progress(style="position:relative;bottom:-12px;")
                    .progress-bar(role="progressbar",aria-valuenow="0",aria-valuemin="0",aria-valuemax="100")
                .col-lg-3
                  button.btn.btn-primary.upload-matrix(style="float:right") Save matrix
              .row
                a.btn.btn-primary.btn-block(type="button",href=`/de/assays/${studyId}`) View Assays
              .row
                .col-lg-4
                  Stat
                .col-lg-8
                  p.card-title Loaded successfully:&nbsp; 
                    span.badge.badge-secondary#uploadSuccesses 0
                    | &nbsp;sequences
                  p.card-title error on:&nbsp;  
                    span.badge.badge-secondary#uploadErrors 0
                    | &nbsp;sequences                  
                  p.card-title Showing 
                    span.badge.badge-secondary#ofLoadedRows 0
                    | &nbsp;sequences
            .card-body.upload-table(style="overflow-x:scroll;").d-none  
              table.table.table-striped.upload-table
                thead
                tbody                
                  tr#lastRow(filename=uploadedFilename) 
                    td.blockquote.text-center(colspan=1) Loading missing sequences, please wait ...

